<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing TestNG">
    <test name="All tests">
        <groups>
            <run>
                <include name="signedIn"/>
            </run>
        </groups>
        <classes>
            <class name="tests.ProductPageTestSuite"/>
        </classes>
    </test> 
</suite>